.dracula .v-application { background-color: #21222c; color: #F8F8F2; }
.dracula .theme--dark.v-app-bar.v-toolbar.v-sheet { background-color:#282a36; }
.dracula .v-application .v-icon { color: #F8F8F2;}
.dracula .v-application .v-select__selection  { color: #F8F8F2;}

.dracula .table-list.v-sheet { background-color: #282a36; color: #F8F8F2;}
.dracula .table-list.v-sheet .v-input, .dracula .table-list.v-sheet .v-input input, .dracula .table-list.v-sheet .v-label {  color: #F8F8F2;}

.dracula .table-list .v-text-field>.v-input__control>.v-input__slot:before { border-color: #F8F8F2;}
.dracula .table-list .v-text-field:not(.v-input--has-state):hover>.v-input__control>.v-input__slot:before { border-color: #b3b372;}

.dracula .table-list .v-data-table .v-data-table-header th.sortable:hover {color: #b3b372;}
.dracula .table-list .v-data-table .v-data-table-header th.sortable.active {color: #b3b372;}
.dracula .table-list .v-data-table .v-data-table-header th.sortable.active .v-data-table-header__icon {color: #b3b372;}
.dracula .table-list .v-data-table .v-btn.v-btn--disabled, .dracula .table-list .v-data-table .v-btn.v-btn--disabled .v-icon { color: #F8F8F2 !important;}
.dracula .table-list .v-data-table .v-btn--round .v-btn__content .v-icon {color: #b3b372;}


.dracula .table-list .v-data-table .v-data-table-header th.sortable .v-data-table-header__icon { color: #F8F8F2;}

.dracula .table-list .v-data-table, .dracula .table-list .v-data-table thead tr th {  background-color: #282a36; color: #F8F8F2;}
.dracula .table-list .v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) { background: #44475a }
.dracula .table-list .v-data-footer { color: #F8F8F2;}

.dracula .page .cov-color-0 { color: #ff5555 }
.dracula .page .cov-color-1 { color: rgb(128, 128, 128); }
.dracula .page .cov-color-2 { color: rgb(116, 140, 131); }
.dracula .page .cov-color-3 { color: rgb(104, 152, 134); }
.dracula .page .cov-color-4 { color: rgb(92, 164, 137); }
.dracula .page .cov-color-5 { color: rgb(80, 176, 140); }
.dracula .page .cov-color-6 { color: rgb(68, 188, 143); }
.dracula .page .cov-color-7 { color: rgb(56, 200, 146); }
.dracula .page .cov-color-8 { color: rgb(44, 212, 149); }
.dracula .page .cov-color-9 { color: rgb(32, 224, 152); }
.dracula .page .cov-color-10 { color: rgb(20, 236, 155); }
.dracula .page .cov-color-untracked { color: #6272a4; }

.dracula .page table, .dracula .page .v-card { background-color: #282a36;}
.dracula .page .v-card .v-card__title {color: #f8f8f2; }
.dracula .page .line { color: #f8f8f2;  }
.dracula .page .v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) { background: #44475a }
